 <!-- Navigation for every page -->
<nav class="blue-grey" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#" class="brand-logo white-text center">Buy the Book!</a>
    <ul id="menu-slide-out" class="sidenav">
      <li><a href="#">Navbar Link Search?</a></li>
      <!-- other links go here -->
    </ul>
    <a href="#" data-target="menu-slide-out" class="sidenav-trigger show-on-medium-and-down show-on-medium-and-up"><i class="material-icons">menu</i></a>  
    <!-- <button id="google">Login with Google</button> -->
    <ul id="cart-dropdown" class="dropdown-content">
      <li><a href="#">Cart Items?</a></li>
      <!-- other links go here -->
    </ul>
    <a href="#" data-target="cart-dropdown" class="right dropdown-trigger show-on-medium-and-down show-on-medium-and-up"><i id="cart" class="material-icons">shopping_cart</i></a>
    
  </div>
</nav>

<!-- Home Page -->
<main id="home-page">
  <div id="home-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header center light">An Online Bookstore <span class="fa fa-book"></span></h3>
        <div class="row center">
          <h5 class="header col s12 light">Whether for entertainment, pure enjoyment or to find something to invigorate your minde.</h5>
          <h5 class="header col s12 light">Browse through the genres below to find your new book!</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/books1.jpg" alt="Background img 1"></div>
  </div>

  <div class="row">
    <div class="col s12 m4 l3">
      <div class="collection">
        {{#each category}}
          <a href="#!" class="collection-item">{{DISTINCT}}</a>
        {{/each}}
      </div>
    </div>

    <div class="col s12 m8 l9">
      {{#each top9Books}}
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/card_image.jpeg">
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
          <div class="card-content">
            <span class="card-title">{{dataValues.title}}</span>
            <p>{{dataValues.bookDescription}}</p>
            <p>{{dataValues.price}}</p>
          </div>
          <div class="card-action">
            <button class="cart" data-id="{{orderDetails}}">Add to Cart</button>
          </div>
        </div>
      </div>
      {{else}}
        <p>no books available</p>
      {{/each}}
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Put a famous author quote?</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/img/books2.jpg" alt="Background Img 2"></div>
  </div>

  <!-- Contact Information -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Contact Information</p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Footer for every page -->
<footer class="page-footer blue-grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of from the U of M Coding Bootcamp working on this project like it's our full time job.</p>
      </div> 
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3">Team Weezer</a>
    </div>
  </div>
</footer>

